@charset "UTF-8";
/* CSS Document */
table#target td.all {
	background-color:white;
	border:0;
	color:transparent;
/*	visibility:visible;*/
/*	color:red;*/}

table#target td#cell-10,
table#target td#cell-11,
table#target td#cell-12,
table#target td#cell-17,
table#target td#cell-24,
table#target td#cell-25,
table#target td#cell-26,
table#target td#cell-31,
table#target td#cell-38,
table#target td#cell-39,
table#target td#cell-40 {
/*	background-color:white;*/
	animation:track-2 1s linear 1s;}
@keyframes track-2
{
	from {background-color:white; visibility:visible;}
	to {background-color:black; visibility:hidden;}
}	

table#target td#cell-10,
table#target td#cell-12,
table#target td#cell-17,
table#target td#cell-19,
table#target td#cell-24,
table#target td#cell-25,
table#target td#cell-26,
table#target td#cell-31,
table#target td#cell-33,
table#target td#cell-38,
table#target td#cell-40 {
	background-color:white;
	animation:track-1 1s linear;}
@keyframes track-1
{
	from {background-color:white; visibility:visible;}
	to {background-color:black; visibility:hidden;}
}	
	
/*
table#target td#cell-10,
table#target td#cell-17,
table#target td#cell-24,
table#target td#cell-31,
table#target td#cell-38,
table#target td#cell-39,
table#target td#cell-40 {
	background-color:white;}
	
table#target td#cell-10,
table#target td#cell-11,
table#target td#cell-12,
table#target td#cell-17,
table#target td#cell-19,
table#target td#cell-24,
table#target td#cell-26,
table#target td#cell-31,
table#target td#cell-33,
table#target td#cell-38,
table#target td#cell-39,
table#target td#cell-40 {
	background-color:white;}
	
table#target td#cell-9,
table#target td#cell-11,
table#target td#cell-13,
table#target td#cell-16,
table#target td#cell-18,
table#target td#cell-20,
table#target td#cell-23,
table#target td#cell-25,
table#target td#cell-27,
table#target td#cell-30,
table#target td#cell-32,
table#target td#cell-34,
table#target td#cell-37,
table#target td#cell-38,
table#target td#cell-39,
table#target td#cell-40,
table#target td#cell-41,
table#target td#cell-30 {
	background-color:white;}
	
table#target td#cell-9,
table#target td#cell-10,
table#target td#cell-11,
table#target td#cell-12,
table#target td#cell-13,
table#target td#cell-16,
table#target td#cell-20,
table#target td#cell-23,
table#target td#cell-24,
table#target td#cell-25,
table#target td#cell-26,
table#target td#cell-27,
table#target td#cell-30,
table#target td#cell-33,
table#target td#cell-37,
table#target td#cell-40,
table#target td#cell-41 {
	background-color:white}	
	
table#target td#cell-9,
table#target td#cell-10,
table#target td#cell-11,
table#target td#cell-12,
table#target td#cell-13,
table#target td#cell-20,
table#target td#cell-17,
table#target td#cell-24,
table#target td#cell-27,
table#target td#cell-31,
table#target td#cell-34,
table#target td#cell-37,
table#target td#cell-38,
table#target td#cell-39,
table#target td#cell-40,
table#target td#cell-41 {
	background-color:white;}
	
